
/* Added a background image for Jumbotron with fixed height */
.jumbotron{
    background-image: url("./images/background.jpg");
    background-size: 100% 100%;
    height: 600px;
    padding: 20px;
}

/* Styling the Logo */
.logo{
    width: 95px;
    height: 95px;
}

/* Styling the featured section */
#featured{
    color: white;
}

/* Creating space b/w logo and header*/
#featured h1{
    padding-top: 60px;
}

/* styling the buttons */
#featured .btn-default{
    font-weight: bold;
    color: white;
    background-color: rgba(145,82,58,0.5);
    border-radius: 10px;
    margin-top: 20px;
    width: 200px;
    margin-right: 10px;
}
#featured .btn-default:hover{
    background-color: rgba(145,82,58);
}

/* Adding styling for devices b/w 480px and 768px */
@media (min-width: 480px) and (max-width:768px) {
    .jumbotron{
        height: 410px;
        margin: 0;
        min-width: fit-content;
    }

    .logo{
        width: 75px;
        height: 75px;
    }

    #featured h1{
        padding-top: 30px;
    }

    #featured p{
        font-size: 17px;
    }

    #featured{
        text-align: center;
    }
}

/* Adding styling for devices below 480px */
@media (max-width:480px) {
    .jumbotron{
        height: 410px;
        margin: 0;
    
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    #featured h1{
        padding-top: 10px;
    }

    #featured p, #featured a{
        font-size: 13px;
    }

    #featured{
        text-align: center;
    }

    .trial img{
        width: 100px;
        height: 35px;
        margin: 10px;
    }
}

/* styling the Trial section */
.trial{
    text-align: center;
    padding: 20px 0 40px 0;
    color: black;
    font-weight: bolder;
}

/* styling the app store and play store images */
.trial img{
    width: 200px;
    height: 70px;
    margin: 20px;
}

/* styling the footer */
footer{
    background-color: #eee;
    font-size: 15px;
    padding: 10px 0;
}

